

<head>

  <meta charset="UTF-8">    
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><% head.title ? `${head.title} | ` : '' %>FUNKOSHOP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Estilos Globales -->
  <link rel="stylesheet" href="/css/index.css">

  <% if( head.styles ){ %>

    <!-- Estilos Internos -->
    <% head.styles.forEach( style => { %>

      <link rel="stylesheet" href="/css/<%=style%>.css">

    <% }); %>
  <% } %>
  
</head>




    